<div class="container">
    <h1>Livros Disponíveis : </h1>
    <button class="botao"><a href="/">Cadastrar livros</a></button>
    <div class="container-livros">

           
           <div class="livros-main">
            <span>ID</span> <span>Título</span> <span>Qtd de páginas</span>
            </div>
        

        {{#each books}}
            <div class="livros">

                {{this.id}} <span><a href="/books/{{this.id}}">{{this.title}}</a> </span>  {{this.pageqty}}    
           
            </div>
                   
           
        {{/each}}
    </div>
    
</div>