{{!-- edit --}}
<div class="container">

    <h1>Edite o título do livro</h1>

    
        <form action="/books/updatebook" method="post" class="form">
        <input type="hidden" name="id" value="{{book.id}}">
            <div class="form-control">
                <label for="title">Título</label>
                <input type="text" name="title" id="" placeholder=" Insira o título do livro" value="{{book.title}}">
            </div>

            <div class="form-control">
                <label for="pageqty"> Páginas</label>
                <input type="number" name="pageqty" id="" placeholder="número de páginas" value="{{book.pageqty}}">
            </div>
            <input type="submit" value="editar">
            

        </form>
       
    
</div>