{{!-- insert --}}
<div class="container">

    <h1>Insira o título do livro</h1>

    
        <form action="/books/insertbook" method="post" class="form">
            <div class="form-control">
                <label for="title">Título</label>
                <input type="text" name="title" id="" placeholder=" Insira o título do livro">
            </div>

            <div class="form-control">
                <label for="pageqty"> Páginas</label>
                <input type="number" name="pageqty" id="" placeholder="número de páginas">
            </div>
            <input type="submit" value="cadastrar">
            

        </form>
    
    
</div>
