<div id="book-page">
    

    
        <h1>{{book.title}}</h1>
        <br>
        <div >
            <p >este livro contém {{book.pageqty}} páginas</p>
        </div>

        <br>

        <div class="actions">
            <div>
                <a href="/books/edit/{{book.id}}">editar</a>

            <form action="/books/remove/{{book.id}}" method="post">
                <input type="submit" value="Remover">
            </form>
            </div>
            

        </div>

    
</div>